body {
    background-color: #333333;
}

header {
    margin-top: 15px;
    margin-bottom: 20px;
}

.headerH {
    color: #00FF00;
    text-align: center;
}

.message{
  color: #00FF00;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}

#counter {
    margin-top: 20px;
    margin-bottom: 20px;
}

#counter_minutes {
    outline: 2px solid #00FF00;
    margin-right: 75px;
    color: #00FF00;
    text-align: center; 
}

#counter_seconds {
    outline: 2px solid #00FF00;
    margin-left: 75px;
    color: #00FF00;
    text-align: center; 
}

#show_minutes, #show_seconds {
    font-size: xx-large;
}

button {
    min-height: 30px;
    min-width: 150px;
    margin: 10px;
}

#min_minus, #sec_minus {
    background-color: #0000FF;
}

#min_plus, #sec_plus {
    background-color: #00FF00;
}

#counter_start {
    background-color: #CC0099;
}

#counter_stop {
    background-color: #CC0099;
}

#reset_all {
    background-color: #CC0033;
}